<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="brown-icon" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary"> </ion-buttons>
    <ion-title class="brown-title">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ng-container *ngIf="!produtos || produtos.length == 0">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>

  <!-- Lista de Produtos -->
  <div *ngIf="produtos">
    <h5 class="featured-title">Produtos</h5>
    <ion-list>
      <ion-item
        class="item ios in-list ion-focusable item-label hydrated item-inner"
        *ngFor="let p of produtos"
      >
        <ion-label>
          <h2 class="item-title">{{p.nome}}</h2>
          <p class="item-description">{{p.descricao}}</p>
          <p class="item-price">{{p.preco | currency:'BRL':true:'1.2-2'}}</p>
          <p class="item-add-remove">
            <ion-chip class="ion-color ios chip-outline ion-activatable hydrated" id="ion-chip{{p.id}}" outline >
              <ion-icon name="remove-outline" (click)="removeItem(item_id)"></ion-icon>
              <input #item_id  class="item_input" id="{{p.id}}" value="0"  min="0">
              <ion-icon name="add-outline" (click)="addItem(item_id)"></ion-icon>
            </ion-chip>
          </p>
        </ion-label>       
      </ion-item>
    </ion-list>
  </div>
</ion-content>
