<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button class="brown-icon" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary"> </ion-buttons>
    <ion-title class="brown-title">Cardápio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" class="brown-icon" defaultHref="/cardapio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header></app-header>  
  <ion-fab vertical="top" horizontal="end" color="warning" slot="fixed">
    <ion-fab-button [routerLink]="['/cardapio-add-item']" color="warning">      
      <ion-icon name="add-circle-outline" class="cart-icon" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-container *ngIf="!cardapio || cardapio.length == 0">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>

<ion-button class="bg-transparent" slot="end">
  <ion-icon class="brown-icon bg-transparent" name="add-circle-outline" [routerLink]="['/cardapio-add-item']"></ion-icon>
</ion-button>
  <!-- Lista de Pizzas -->
  <div *ngIf="cardapio">
    <div *ngIf="pizzas.length > 0">
      <h5 class="featured-title">Pizzas</h5>
      <ion-list>
        <ion-item
          class="item ios in-list ion-focusable item-label hydrated item-inner"
          *ngFor="let p of pizzas"
        >
          <ion-label>
            <h2 class="item-title">{{p.nome}}</h2>
            <p class="item-description">{{p.descricao}}</p>
            <p class="item-price">{{p.valor | currency:'BRL':true:'1.2-2'}}</p>
            <p class="item-add-remove">
              <ion-button>
                <ion-icon color="light" name="pencil-outline" (click)="editItem(p.id)"></ion-icon>
              </ion-button>
              <!-- <ion-chip class="ion-color ios chip-outline ion-activatable hydrated" id="ion-chip{{p.id}}" outline >
                <ion-icon name="pencil-outline" (click)="editItem(item_id)"></ion-icon>
              </ion-chip> -->
            </p>
          </ion-label>       
        </ion-item>
      </ion-list>
    </div>  
  </div>
</ion-content>
