<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button class="brown-icon" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary"> </ion-buttons>
    <ion-title class="brown-title">Faça seu Pedido</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" class="brown-icon" defaultHref="/carrinho"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header></app-header>  
  <ng-container *ngIf="!cardapio || cardapio.length == 0">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>
  
  <ion-fab vertical="top" horizontal="end" color="warning" slot="fixed">
    <ion-fab-button (click)="openCart()" color="warning" #cart>
      <div class="cart-length mt-5 dark">{{ contadorItemCarrinho | async }}</div>
      <ion-icon name="cart" class="cart-icon" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Lista de Pizzas -->
  <div *ngIf="pizzas.length > 0">
    <h5 class="featured-title">Pizzas</h5>
    <ion-list>
      <ion-card *ngFor="let p of pizzas">
        <ion-card-header>
          <ion-card-title>{{ p.nome }}</ion-card-title>
          <ion-card-subtitle size="10" class="mt-5">{{ p.descricao }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label color="secondary">
                <b>{{ p.valor | currency:'BRL':'symbol' }}</b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-right item-add-remove">
              <ion-chip class="ion-color ios chip-outline ion-activatable hydrated" id="ion-chip{{p.id}}" outline >
                <ion-icon name="remove-outline" (click)="removeItem(item_id)"></ion-icon>
                <input #item_id  class="item_input" id="{{p.id}}" value="0"  min="0">
                <ion-icon name="add-outline" (click)="addItem(item_id)"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-card-content>
        
      </ion-card>
    </ion-list>
  </div>
  
  <!-- Lista de Lanches -->
  <div *ngIf="lanches.length > 0">
    <h5 class="featured-title">Lanches</h5>
    <ion-list>
      <ion-card *ngFor="let l of lanches">
        <ion-card-header>
          <ion-card-title>{{ l.nome }}</ion-card-title>
          <ion-card-subtitle size="10">{{ l.descricao }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="14">
              <ion-label color="secondary">
                <b>{{ l.valor | currency:'BRL':'symbol' }}</b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-right item-add-remove">
              <ion-chip class="ion-color ios chip-outline ion-activatable hydrated" id="ion-chip{{l.id}}" outline >
                <ion-icon name="remove-outline" (click)="removeItem(item_id)"></ion-icon>
                <input #item_id  class="item_input" id="{{l.id}}" value="0"  min="0">
                <ion-icon name="add-outline" (click)="addItem(item_id)"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-card-content>
        
      </ion-card>
    </ion-list>
  </div>
    <!-- Lista de Bebidas -->
    <div *ngIf="bebidas.length > 0">
      <div class="list-bebidas">
        <h5 class="featured-title">Para matar a sede</h5>
        <ion-list>
          <ion-item
            class="item ios in-list ion-focusable item-label hydrated item-inner"
            *ngFor="let b of bebidas"
          >
            <ion-label>
              <h2 class="item-title">{{b.nome}}</h2>
              <p class="item-description">{{b.descricao}}</p>
              <p class="item-price">{{b.valor | currency:'BRL':true:'1.2-2'}}</p>
              <p class="item-add-remove">
                <ion-chip class="ion-color ios chip-outline ion-activatable hydrated" id="ion-chip{{b.id}}" outline >
                  <ion-icon name="remove-outline" (click)="removeItem(item_id)"></ion-icon>
                  <input #item_id  class="item_input" id="{{b.id}}" value="0"  min="0">
                  <ion-icon name="add-outline" (click)="addItem(item_id)"></ion-icon>
                </ion-chip>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  
</ion-content>
