<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button class="brown-icon" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary"> </ion-buttons>
    <ion-title class="brown-title">Finalizar Pedido</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" class="brown-icon" defaultHref="/confirmar-pedido"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header></app-header> 

</ion-content>
