<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pizzas"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="nome" [(ngModel)]="pizza.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Priority" [(ngModel)]="pizza.valor"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="savePizza()">Save</ion-button>
</ion-content>